<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Feedback Voice Bot Demo with Web Speech API">
    <meta name="author" content="Hunar Batra  @hunarbatra">

    <title>Feedback Bot</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <script>
      navigator.mediaDevices.getUserMedia({ audio: true })
      .then(function(stream) {
        console.log('You let me use your mic!')
      })
      .catch(function(err) {
        console.log('No mic for you!')
      });
    </script>
    <section>
      <h1>Feedback Bot</h1>
      <h2></h2>

      <button><i class="fa fa-microphone"></i></button>
      <!-- <button id='pause' style="background-color: yellow;">Pause</button> -->

      <div>
          <p>You said: <em class="output-you">...</em></p>
          <p>Bot replied: <em class="output-bot">...</em></p>
      </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
